* {
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* site-header */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img  {
    border-radius: 50%;
    margin-right: 16px;
}
.logo-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #222;
    transition: color 0.5s ease;
}
.logo-title:hover {
    color: #DE2E54;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding-left: 0;
}
.nav-item {
    margin-right: 32px;
}
.nav-item:last-child {
    margin-right: 0;
}


.nav-item a {
    font-size: 14px;
    font-family: 'Open Sans' , sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav-item a:hover{
    color: #DE2E54;
}

.site-btn {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #DE2E54;;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 8px;
    border: solid #DE2E54;
    transition:  opacity 0.5s ease,
    border 0.5s ease,
    color 0.5s ease;
}
.hover:hover{
    /* box-sizing: border-box; */
   
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #DE2E54;
}

/* main  */
.hero {
    background: #0EB4C1;
    padding-top: 28px;
    padding-bottom: 1px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-div h2,
.hero-div p {
    color: #FFFFFF;
}

.hero-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 19px;
}

.hero-description {
    font-family: 'Open Sans' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 33px;
}

.site-hov {
    transition: background 0.5s ease,
    opacity 0.5s ease;
}

.site-hov:hover{
    background: rgba(222, 46, 84, 0.8);
    border: solid rgba(222, 46, 84, 0.8);
    opacity: 0.8;
}


/* Services style */

.services {
    background-color: #FFFFFF;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 120px;
}
.services-li {
    margin-bottom: 80px;
}
.services-li:last-child {
    margin-bottom: 0;
}

.services-img {
    margin-right: 64px;
}
/* .services-img:last-child {
    margin-right: 0;
} */

.services-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}


.services-items {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* text-align: left; */
}
.services-description {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
}

.services-ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.site-buttun {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CTA style */

.cta {
    background-color: #0EB4C1;
}

.cta-div {
    padding-top: 80px ;
    padding-bottom: 120px;
}


.cta-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.cta-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cta-items {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* color: #FFFFFF; */
    margin-right: 15px;
    /* margin-right: 15px; */
    /* padding: 15px 25px; */
}
.btn-cta {
    /* border: solid #FFFFFF;     */

    /* border-radius: 8px; */
    /* border: solid #FFFFFF; */
}

.cta-btn {
    background-color: #0EB4C1;
    border: solid white;
    padding: 10px 22px;
    color:#FFFFFF;
    border-radius: 8px;
    transition: background-color 0.5s ease,
    border 0.5s ease;
}
.cta-btn:hover {
    background-color: #DE2E54;
    color: #FFFFFF;
    border: solid #DE2E54;
}
/* footer style */ 
.site-footer {
    background-color: #222222;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    color: #FFFFFF;
    transition: color 0.5s ease;
}
.logo-footer:hover {
    color: #DE2E54;
}

.footer-nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}
.footer-nav-item {
    margin-right: 32px;
}
.footer-nav-item:last-child {
    margin: 0;
}

.footer-nav-link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color 0.5s ease;
}
.footer-nav-link:hover {
    color: #DE2E54;
}
